<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814915567773-e1mv8fjgop95qtdb1shaa1iqmeq77ck8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814915567773-e1mv8fjgop95qtdb1shaa1iqmeq77ck8</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Xb2xT04u1DlVAdoK81r4X9dJ_iLF14I</string>
	<key>GCM_SENDER_ID</key>
	<string>814915567773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.producteve</string>
	<key>PROJECT_ID</key>
	<string>product-eve</string>
	<key>STORAGE_BUCKET</key>
	<string>product-eve.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814915567773:ios:7d1e82794d411d668a1474</string>
</dict>
</plist>